<div class="card w-1/2 mx-auto bg-base-100 p-5">
  <h1 class="text-2xl mb-4">Signup</h1>
  <form action="" method="post">
    <div class="mb-4">
      <label class="input input-bordered input-info flex items-center gap-2">
        Name
        <input
          required
          type="text"
          name="name"
          class="grow"
          placeholder="Enter your name"
        />
      </label>
    </div>
    <div class="mb-4">
      <label class="input input-bordered input-info flex items-center gap-2">
        Email
        <input
          required
          type="email"
          name="email"
          class="grow"
          placeholder="Enter your email"
        />
      </label>
    </div>
    <div class="mb-4">
      <label class="input input-bordered input-info flex items-center gap-2">
        Password
        <input
          required
          type="password"
          name="password"
          class="grow"
          placeholder="Enter your password"
        />
      </label>
    </div>
    <button class="btn btn-neutral">Sign up</button>
  </form>
</div>
