<div class="card w-1/2 mx-auto bg-base-100 p-5">
  <h1 class="text-2xl mb-4">Edit Task</h1>
  <form action="" method="post">
    <div class="mb-4">
      <label class="input input-bordered input-info flex items-center gap-2">
        Title
        <input
          required
          type="text"
          name="title"
          class="grow"
          placeholder="Enter your task title"
          value="<%=task.title%>"
        />
      </label>
    </div>
    <div class="mb-4">
      <label class="input input-bordered input-info flex items-center gap-2">
        Description
        <input
          required
          type="text"
          name="description"
          class="grow"
          placeholder="Enter your task description"
          value="<%=task.description%>"
        />
      </label>
    </div>
    <button class="btn btn-neutral">Update</button>
  </form>
</div>
