<div class="card bg-base-100">
  <div class="card-body">
    <div class="text-end flex justify-between items-center">
      <h2 class="card-title">Shoes!</h2>
      <div>
        <a href="" class="mr-2 text-yellow-500">
          <i class="fa-regular fa-pen-to-square"></i>
        </a>
        <a href="">
          <i class="fa-solid fa-trash text-red-500"></i>
        </a>
      </div>
    </div>

    <p>If a dog chews shoes whose shoes does he choose?</p>
    <div class="card-actions justify-end"></div>
  </div>
</div>
